.blue {
    background-color: lightskyblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

.xsmall {
    font-size: 0.4rem;
}

.small {
    font-size: 0.6rem;
}

.large {
    font-size: 1rem;
}

.xlarge {
    font-size: 1.3rem;
}
